@import url('https://fonts.googleapis.com/css?family=Capriola|Happy+Monkey');
.fullMap {
    height: 300px;
    width: 100%;
}
h1 {
    font-family: Happy Monkey, serif;
    font-size: 16px;
    line-height: 0.9;
}
h2 {
    font-family: Happy Monkey, serif;
    font-size: 14px;
    margin-top: 10px;
    line-height: 0.9;
}
.massWhen {
    font-family: Happy Monkey, serif;
    font-size: 12px;
    line-height: 0.9;
}
.massWhere {
    font-family: Happy Monkey, serif;
    font-size: 12px;
    line-height: 0.9;
}
.close {
    font-family: Capriola, serif;
    font-size: 10px;
}
@media all and (max-width: 519px) and (min-width: 414px) {
    h1 {
        font-size: 19px;
    }
    h2 {
        font-size: 17px;
        margin-top: 10px;
    }
    .massWhen {
        font-size: 13px;
    }
    .massWhere {
        font-size: 13px;
    }
    .close {
        font-size: 11px;
    }
}
@media all and (max-width: 699px) and (min-width: 520px) {
    h1 {
        font-size: 19px;
        line-height: normal;
    }
    h2 {
        font-size: 17px;
        margin-top: 15px;
        line-height: normal;
    }
    .massWhen {
        font-size: 13px;
        line-height: normal;
    }
    .massWhere {
        font-size: 13px;
        line-height: normal;
    }
    .close {
        font-size: 11px;
    }
}
@media all and (max-width: 1000px) and (min-width: 700px) {
    h1 {
        font-size: 20px;
        line-height: normal;
    }
    h2 {
        font-size: 18px;
        margin-top: 15px;
        line-height: normal;
    }
    .massWhen {
        font-size: 14px;
        line-height: normal;
    }
    .massWhere {
        font-size: 14px;
        line-height: normal;
    }
    .close {
        font-size: 12px;
    }
}
@media all and (min-width: 1001px) {
    h1 {
        font-size: 24px;
        line-height: 1.2;
    }
    h2 {
        font-size: 20px;
        margin-top: 15px;
        line-height: 1.2;
    }
    .massWhen {
        font-size: 14px;
        line-height: 1.2;
    }
    .massWhere {
        font-size: 14px;
        line-height: 1.2;
    }
    .close {
        font-size: 12px;
        line-height: 1.2;
    }
}