@import url('https://fonts.googleapis.com/css?family=IM+Fell+English');
.psHeader {
    padding-top: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.psText {
    font-family: IM Fell English, serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.psCarousel {
    height: auto;
    width: 100%;
}
@media all and (max-width: 519px) and (min-width: 414px) {
    .psHeader {
        padding-top: 1px;
        margin-top: 10px;
        margin-bottom: 171px;
    }
    .psText {
        font-size: 40px;
        position: absolute;
        width: 100%;
    }
    .psTitle {
        padding: 120px 60px 0px 0px;
    }
    .psImgLeft {
        float: left;
        content: url('../../assets/photo-section/04PhotoSectionLeft.png');
        margin-left: 7px;
        margin-bottom: 1px;
        padding: 100px 0px 0px 0px;
    }
    .psImgRight {
        float: right;
        content: url('../../assets/photo-section/04PhotoSectionRight_doubled.png');
        margin-right: 7px;
        margin-bottom: 1px;
    }
}
@media all and (max-width: 699px) and (min-width: 520px) {
    .psHeader {
        padding-top: 1px;
        margin-top: 10px;
        margin-bottom: 171px;
    }
    .psText {
        font-size: 40px;
        position: absolute;
        width: 100%;
    }
    .psTitle {
        padding: 120px 50px 0px 0px;
    }
    .psImgLeft {
        float: left;
        content: url('../../assets/photo-section/04PhotoSectionLeft.png');
        margin-left: 7px;
        margin-bottom: 1px;
        padding: 90px 0px 0px 0px;
    }
    .psImgRight {
        float: right;
        content: url('../../assets/photo-section/04PhotoSectionRight_doubled.png');
        margin-right: 7px;
        margin-bottom: 1px;
    }
}
@media all and (max-width: 1114px) and (min-width: 700px) {
    .psHeader {
        padding-top: 1px;
        margin-top: 10px;
        margin-bottom: 171px;
    }
    .psText {
        font-size: 45px;
        position: absolute;
        width: 100%;
    }
    .psTitle {
        padding: 120px 20px 0px 0px;
    }
    .psImgLeft {
        float: left;
        content: url('../../assets/photo-section/04PhotoSectionLeft.png');
        margin-left: 7px;
        margin-bottom: 1px;
        padding: 100px 0px 0px 0px;
    }
    .psImgRight {
        float: right;
        content: url('../../assets/photo-section/04PhotoSectionRight_doubled.png');
        margin-right: 7px;
        margin-bottom: 1px;
    }
}
@media all and (min-width: 1115px) {
    .psHeader {
        padding-top: 1px;
        margin-top: 10px;
        margin-bottom: 171px;
    }
    .psText {
        font-size: 50px;
        position: absolute;
        width: 100%;
    }
    .psTitle {
        padding: 120px 0px 0px 0px;
    }
    .psImgLeft {
        float: left;
        content: url('../../assets/photo-section/04PhotoSectionLeft.png');
        margin-left: 7px;
        margin-bottom: 1px;
        padding: 100px 0px 0px 0px;
    }
    .psImgRight {
        float: right;
        content: url('../../assets/photo-section/04PhotoSectionRight_doubled.png');
        margin-right: 7px;
        margin-bottom: 1px;
    }
}