<div class="bckgrndImg">
    <div class="blocked">
        <p>&nbsp;</p>
    </div>
    <div class="pName">
        <p>YESHUA</p>
    </div>
    <div class="eventName">
        <p>¡Mis&nbsp;&nbsp; 3&nbsp;&nbsp; a&ntilde;os!</p>
    </div>
    <table class="timeCounter">
        <tr>
            <td><div class="counter">150</div></td>
            <td><div class="counter">:</div></td>
            <td><div class="counter">00</div></td>
            <td><div class="counter">:</div></td>
            <td><div class="counter">39</div></td>
            <td><div class="counter">:</div></td>
            <td><div class="counter">52</div></td>
        </tr>
        <tr>
            <td><div class="counterTitle">D&iacute;as</div></td>
            <td>&nbsp;</td>
            <td><div class="counterTitle">Horas</div></td>
            <td>&nbsp;</td>
            <td><div class="counterTitle">Minutos</div></td>
            <td>&nbsp;</td>
            <td><div class="counterTitle">Segundos</div></td>
        </tr>
    </table>
</div>
