<html>
  <head></head>
  <body>
    <app-welcome-dialog></app-welcome-dialog>
    <div class="imgHeader">
      <div class="imgLeft"></div>
      <div class="imgCenter"></div>
      <div class="imgRight"></div>
      <div class="header">
        <button class="headerMenu" mat-fab [matMenuTriggerFor]="headerMenu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #headerMenu="matMenu">
          <button mat-menu-item class="menuItem">
            <div>
              D&oacute;nde & Cu&aacute;ndo
            </div>
          </button>
          <button mat-menu-item class="menuItem">
            <div>
              Recepci&oacute;n
            </div>
          </button>
          <button mat-menu-item class="menuItem">
            <div>
              Mis Fotos
            </div>
          </button>
          <button mat-menu-item class="menuItem">
            <div>
              Mi Familia
            </div>
          </button>
          <button mat-menu-item class="menuItem">
            <div>
              Ver Video
            </div>
          </button>
          <button mat-menu-item class="menuItem">
            <div>
              Mensaje
            </div>
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="mainInfo">
      <app-main-info></app-main-info>
    </div>
    <div class="whereWhenInfo">
      <app-where-when-info></app-where-when-info>
    </div>
    <div class="photoSection">
      <app-photo-section></app-photo-section>
    </div>
    <div class="familyInfo">
      <app-family-info></app-family-info>
    </div>
    <div class="videoSection">
      <app-video-section></app-video-section>
    </div>
    <div class="endingInfo">
      <app-ending-info></app-ending-info>
    </div>
  </body>
</html>