<html>
  <head></head>
  <body>
    <app-welcome-dialog></app-welcome-dialog>
    <div class="imgHeader">
      <div class="imgLeft"></div>
      <div class="imgCenter"></div>
      <div class="imgRight"></div>
      <div class="header">
        <button class="headerMenu" mat-fab [matMenuTriggerFor]="headerMenu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #headerMenu="matMenu">
          <button mat-menu-item class="menuItem">
            <div>
              {{ amWhereWhen }}
            </div>
          </button>
          <button mat-menu-item class="menuItem">
            <div>
              {{ amPhotos }}
            </div>
          </button>
          <button mat-menu-item class="menuItem">
            <div>
              {{ amFamily }}
            </div>
          </button>
          <button mat-menu-item class="menuItem">
            <div>
              {{ amVideo }}
            </div>
          </button>
          <button mat-menu-item class="menuItem">
            <div>
              {{ amMessage }}
            </div>
          </button>
        </mat-menu>
      </div>
    </div>
    <div id="mainInfo">
      <app-main-info></app-main-info>
    </div>
    <div id="whereWhenInfo">
      <app-where-when-info></app-where-when-info>
    </div>
    <div id="photoSection">
      <app-photo-section></app-photo-section>
    </div>
    <div id="familyInfo">
      <app-family-info></app-family-info>
    </div>
    <div id="videoSection">
      <app-video-section></app-video-section>
    </div>
    <div id="endingInfo">
      <app-ending-info></app-ending-info>
    </div>
  </body>
</html>