<div class="fiHeader">
    <div class="fiImgLeft"></div>
    <div class="fiText"><p class="fiTitle"></p>{{ myFamilyTitle }}</div>
    <div class="fiImgRight"></div>
</div>
<div class="fiPhotos">
    <div class="familyPhoto">
        <div class="dadPhoto"></div>
        <div class="dadName"><p class="name">{{ dadFirstName }}</p></div>
        <div class="dadField"><p class="field">{{ dadField }}</p></div>
    </div>
    <div class="familyPhoto">
        <div class="momPhoto"></div>
        <div class="momName"><p class="name">{{ momFirstName }}</p></div>
        <div class="momField"><p class="field">{{ momField }}</p></div>
    </div>
    <div class="familyPhoto">
        <div class="petsPhoto"></div>
        <div class="petsName"><p class="name">{{ petsName }}</p></div>
        <div class="petsField"><p class="field">{{ petsField }}</p></div>
    </div>
</div>