<div class="wwiHeader">
    <div class="wwiImgLeft"></div>
    <div class="wwiText"><p class="wwiTitle">D&oacute;nde & Cu&aacute;ndo</p></div>
    <div class="wwiImgRight"></div>
</div>
<div class="wwInfo">
    <div class="info">
        <h2 class="massTitle">Ceremonia Religiosa</h2>
        <div class="massPic"></div>
        <div>
            <h3 class="massPlaceName">Monasterio de la Pur&iacute;sima Concepci&oacute;n</h3>
        </div>
        <div class="massWhen">
            <p>
                <span class="bText">Cu&aacute;ndo:</span>
                <span class="sText"> 1º de Abril de 2023, 10 a.m.</span>
            </p>
        </div>
        <div class="massAddress">
            <p>
                <span class="bText">Direcci&oacute;n:</span>
                <span class="sText"> Blvd. M&aacute;rtires del 2 de Octubre #4313, Col. San Baltazar Campeche, C.P. 72550, Puebla, Pue.</span>
            </p>
        </div>
        <span class="buttomMap">
            <button mat-flat-button>
                <div class="buttonText">
                    Ver mapa
                </div>
            </button>
        </span>
        <span class="calendar">
            <button mat-flat-button>
                <div class="buttonText">
                    Agendar en el calendario
                </div>
            </button>
        </span>
    </div>
    <div class="info">
        <h2 class="hostingTitle">Recepci&oacute;n</h2>
        <div class="hostingPic"></div>
        <div>
            <h3 class="hostingPlaceName">Sal&oacute;n 'Geli', Eventos Sociales</h3>
        </div>
        <div class="hostingWhen">
            <p>
                <span class="bText">Cu&aacute;ndo:</span>
                <span class="sText"> 1º de Abril de 2023, 12 p.m.</span>
            </p>
        </div>
        <div class="hostingAddress">
            <p>
                <span class="bText">Direcci&oacute;n:</span>
                <span class="sText"> Blvd. Los Pilares #2212, Col. Los Pilares, C.P. 72560, Puebla, Pue.</span>
            </p>
        </div>
        <span class="buttomMap">
            <button mat-flat-button>
                <div class="buttonText">
                    Ver mapa
                </div>
            </button>
        </span>
        <span class="calendar">
            <button mat-flat-button>
                <div class="buttonText">
                    Agendar en el calendario
                </div>
            </button>
        </span>
    </div>
</div>