@import url('https://fonts.googleapis.com/css?family=IM+Fell+English|Happy+Monkey');
.wwiHeader {
    padding-top: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.wwiText {
    font-family: IM Fell English, serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.wwInfo {
    text-align: center;
}
.info {
    width: 90%;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
    padding: 10px 10px 10px 10px;
    font-family: Happy Monkey, serif;
    font-size: 11px;
    background-color: #efefef;
    text-align: left;
}
.massTitle {
    font-family: Happy Monkey, serif;
    font-weight: bold;
    font-size: 15px;
}
.massPlaceName {
    font-family: Happy Monkey, serif;
    font-weight: bold;
    font-size: 13px;
}
.massPic {
    height: 170px;
    width: 100%;
    margin: 0px 0px 20px 0px;
    background-image: url("../../assets/where-when/IMG_1623_ret.jpg");
    background-size: auto;
    background-size: cover;
    background-position-x: center;
}
.hostingTitle {
    font-family: Happy Monkey, serif;
    font-weight: bold;
    font-size: 15px;
}
.hostingPlaceName {
    font-family: Happy Monkey, serif;
    font-weight: bold;
    font-size: 13px;
}
.hostingPic {
    height: 170px;
    width: 100%;
    background-image: url("../../assets/where-when/SalonGeli.jpg");
    margin: 0px 0px 20px 0px;
    background-size: auto;
    background-size: cover;
    background-position-x: center;
}
.bText {
    font-weight: bold;
}
button {
    background-color: #bbb;
    border: none;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 5px;
}
.buttonText {
    color: white;
    padding: 15px 30px 15px 30px;
    font-size: 12px;
}
.buttomMap {
    margin-right: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 13%;
    margin-right: auto;
    margin-top: -100px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.show {
    display:block;
}
.online {
    font-style: italic;
    font-size: smaller;
}
@media all and (max-width: 519px) and (min-width: 414px) {
    .wwiHeader {
        padding-top: 1px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .wwiImgLeft {
        float: left;
        content: url('../../assets/where-when/03castleLeft_70.png');
        margin-left: 7px;
        margin-bottom: 5px;
    }
    .wwiText {
        font-size: 40px;
        position: absolute;
        width: 100%;
    }
    .wwiTitle {
        padding: 30px 0px 0px 60px;
    }
    .info {
        width: 85%;
        margin-left: 0.5em;
        margin-right: 0.5em;
        margin-bottom: 10px;
        padding: 30px 30px 30px 30px;
        font-size: 13px;
        display: inline-block;
    }
    .massPic {
        height: 200px;
        width: 100%;
    }
    .hostingPic {
        height: 200px;
        width: 100%;
    }
    .massTitle {
        font-size: 19px;
    }
    .massPlaceName {
        font-size: 16px;
    }
    .hostingTitle {
        font-size: 19px;
    }
    .hostingPlaceName {
        font-size: 16px;
    }
    button {
        margin-bottom: 10px;
    }
    .buttonText {
        padding: 15px 30px 15px 30px;
        font-size: 14px;
    }
    .dropdown-content {
        margin-left: 23%;
        margin-right: auto;
        margin-top: auto;
    }
}
@media all and (max-width: 699px) and (min-width: 520px) {
    .wwiHeader {
        padding-top: 1px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .wwiImgLeft {
        float: left;
        content: url('../../assets/where-when/03castleLeft_70.png');
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .wwiText {
        font-size: 40px;
        position: absolute;
        width: 100%;
    }
    .wwiTitle {
        padding: 30px 0px 0px 0px;
    }
    .info {
        width: 80%;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 10px;
        padding: 30px 30px 30px 30px;
        font-size: 13px;
        display: inline-block;
    }
    .massPic {
        height: 300px;
        width: 100%;
    }
    .hostingPic {
        height: 300px;
        width: 100%;
    }
    .massTitle {
        font-size: 19px;
    }
    .massPlaceName {
        font-size: 16px;
    }
    .hostingTitle {
        font-size: 19px;
    }
    .hostingPlaceName {
        font-size: 16px;
    }
    button {
        margin-bottom: 10px;
    }
    .buttonText {
        padding: 15px 30px 15px 30px;
        font-size: 14px;
    }
    .dropdown-content {
        margin-left: 25%;
        margin-right: auto;
        margin-top: auto;
    }
}
@media all and (max-width: 1000px) and (min-width: 700px) {
    .wwiHeader {
        padding-top: 1px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .wwiImgLeft {
        float: left;
        content: url('../../assets/where-when/03castleLeft_70.png');
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .wwiImgRight {
        float: right;
        content: url('../../assets/where-when/03peterPanRight_70.png');
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .wwiText {
        font-size: 45px;
        position: absolute;
        width: 100%;
    }
    .wwiTitle {
        padding: 30px 90px 0px 0px;
    }
    .info {
        width: 80%;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 10px;
        padding: 30px 30px 30px 30px;
        font-size: 13px;
        display: inline-block;
    }
    .massPic {
        height: 400px;
        width: 100%;
    }
    .hostingPic {
        height: 400px;
        width: 100%;
    }
    .massTitle {
        font-size: 19px;
    }
    .massPlaceName {
        font-size: 16px;
    }
    .hostingTitle {
        font-size: 19px;
    }
    .hostingPlaceName {
        font-size: 16px;
    }
    button {
        margin-bottom: 10px;
    }
    .buttonText {
        padding: 15px 30px 15px 30px;
        font-size: 14px;
    }
    .dropdown-content {
        margin-left: 28%;
        margin-right: auto;
        margin-top: auto;
    }
}
@media all and (max-width: 1114px) and (min-width: 1001px) {
    .wwiHeader {
        padding-top: 1px;
        margin-top: 0px;
        margin-bottom: 90px;
    }
    .wwiImgLeft {
        float: left;
        content: url('../../assets/where-when/03castleLeft_70.png');
        margin-left: 0px;
        padding-left: 15px;
        margin-bottom: 15px;
    }
    .wwiImgRight {
        float: right;
        content: url('../../assets/where-when/03peterPanRight_70.png');
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .wwiText {
        font-size: 45px;
        position: absolute;
        width: 100%;
    }
    .wwiTitle {
        padding: 30px 90px 0px 0px;
    }
    .info {
        width: 400px;
        margin-left: 1.5em;
        margin-right: 1.5em;
        padding: 30px 30px 30px 30px;
        font-size: 13px;
        box-sizing: border-box;
        display: inline-block;
    }
    .massPic {
        height: 218px;
        width: 335px;
    }
    .hostingPic {
        height: 218px;
        width: 335px;
    }
    .massTitle {
        font-size: 19px;
    }
    .massPlaceName {
        font-size: 16px;
    }
    .hostingTitle {
        font-size: 19px;
    }
    .hostingPlaceName {
        font-size: 16px;
    }
    button {
        margin-bottom: 10px;
    }
    .buttonText {
        padding: 15px 30px 15px 30px;
        font-size: 14px;
    }
    .dropdown-content {
        margin-left: 90px;
        margin-right: auto;
        margin-top: auto;
    }
}
@media all and (max-width: 1282px) and (min-width: 1115px) {
    .wwiHeader {
        padding-top: 1px;
        margin-top: 0px;
        margin-bottom: 90px;
    }
    .wwiImgLeft {
        float: left;
        content: url('../../assets/where-when/03castleLeft_70.png');
        margin-left: 0px;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    .wwiImgRight {
        float: right;
        content: url('../../assets/where-when/03peterPanRight_70.png');
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .wwiText {
        font-size: 50px;
        position: absolute;
        width: 100%;
    }
    .wwiTitle {
        padding: 30px 90px 0px 0px;
    }
    .info {
        width: 465px;
        margin-left: 3em;
        margin-right: 3em;
        padding: 30px 30px 30px 30px;
        font-size: 14px;
        box-sizing: border-box;
        display: inline-block;
    }
    .massPic {
        height: 300px;
        width: 400px;
    }
    .hostingPic {
        height: 300px;
        width: 400px;
    }
    .massTitle {
        font-size: 20px;
    }
    .massPlaceName {
        font-size: 17px;
    }
    .hostingTitle {
        font-size: 20px;
    }
    .hostingPlaceName {
        font-size: 17px;
    }
    button {
        width: fit-content;
    }
    .buttonText {
        padding: 15px 30px 15px 30px;
        font-size: 15px;
    }
    .dropdown-content {
        margin-left: 180px;
        margin-right: auto;
        margin-top: auto;
    }
}
@media all and (min-width: 1283px) {
    .wwiHeader {
        padding-top: 1px;
        margin-top: 0px;
        margin-bottom: 90px;
    }
    .wwiImgLeft {
        float: left;
        content: url('../../assets/where-when/03castleLeft_70.png');
        margin-left: 0px;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    .wwiImgRight {
        float: right;
        content: url('../../assets/where-when/03peterPanRight_70.png');
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .wwiText {
        font-size: 50px;
        position: absolute;
        width: 100%;
    }
    .wwiTitle {
        padding: 30px 90px 0px 0px;
    }
    .info {
        width: 465px;
        margin-left: 6em;
        margin-right: 6em;
        padding: 30px 30px 30px 30px;
        font-size: 14px;
        box-sizing: border-box;
        display: inline-block;
    }
    .massPic {
        height: 300px;
        width: 400px;
    }
    .hostingPic {
        height: 300px;
        width: 400px;
    }
    .massTitle {
        font-size: 20px;
    }
    .massPlaceName {
        font-size: 17px;
    }
    .hostingTitle {
        font-size: 20px;
    }
    .hostingPlaceName {
        font-size: 17px;
    }
    button {
        width: fit-content;
    }
    .buttonText {
        padding: 15px 30px 15px 30px;
        font-size: 15px;
    }
    .dropdown-content {
        margin-left: 180px;
        margin-right: auto;
        margin-top: auto;
    }
}